/CryPract_1/nbproject/private/
/CryPract_2/nbproject/private/
/CryPract_1/build/
/CryPract_2/build/
/CryPract_3/nbproject/private/
/CryPract_3/build/
/CryPract_2/dist/
/EsdPract_4/nbproject/private/
/EsdPract_4/build/
/CryPract_3/dist/
/CryPract_5/nbproject/private/
/CryPract_5/build/
/CryPract_5/dist/
/CryPract_6/nbproject/private/
/CryPract_6/build/